<div class=" form-group row" class="col-sm-12">
    
      <h2>Crear Camara</h2>
      
      <input class="form-control" type="text" placeholder="Direeccion de Ubicacion" [(ngModel)]="camaras.direccion" />
      
      <input class="form-control" type="text" placeholder="Estado" [(ngModel)]="camaras.estado" />
      
      <input class="form-control" type="text" placeholder="Fase de Implementacion" [(ngModel)]="camaras.fase" />
      <input class="form-control" type="text" placeholder=" Numero de Matriz" [(ngModel)]="camaras.nmatriz" />
      <input class="form-control" type="text" placeholder="Observacion" [(ngModel)]="camaras.observacion" />   
      <input class="form-control" type="text" placeholder="Tipo de Camara" [(ngModel)]="camaras.tipocamara" />
    
      <div class="row">
        <div class="col-sm-6">
          <a class="btn btn-primary btn-block" (click)="crearCamara()">Guardar Camara</a>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-primary btn-block" (click)="cancel()">Cancelar</a>
        </div>
      </div>
    
    </div>